aioredis==2.0.1; python_version >= "3.7" and python_version < "4.0"
anyio==3.6.1; python_version >= "3.6" and python_full_version >= "3.6.2"
async-timeout==4.0.2; python_version >= "3.7" and python_version < "4.0"
bidict==0.22.0; python_version >= "3.7"
certifi==2022.6.15; python_version >= "3.7"
cleo==1.0.0a4; python_version >= "3.7" and python_version < "4.0"
click==8.1.3; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
crashtest==0.3.1; python_version >= "3.7" and python_version < "4.0"
deprecated==1.2.13; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "4.0"
fastapi==0.78.0; python_full_version >= "3.6.1"
flask-cors==3.0.10
flask-socketio==5.2.0; python_version >= "3.6"
flask==2.1.3; python_version >= "3.7"
h11==0.13.0; python_version >= "3.7"
hiredis==2.0.0; python_version >= "3.7" and python_version < "4.0"
httpcore==0.13.2; python_version >= "3.7"
httpx==0.18.1; python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_full_version >= "3.6.2"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.7"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
packaging==21.3; python_version >= "3.7" and python_version < "4.0"
pptree==3.1; python_version >= "3.7" and python_version < "4.0"
pydantic==1.9.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
pylev==1.4.0; python_version >= "3.7" and python_version < "4.0"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.6"
python-engineio==4.3.3; python_version >= "3.6"
python-socketio==5.7.0; python_version >= "3.6"
python-ulid==1.1.0; python_version >= "3.7" and python_version < "4.0"
redis-om==0.0.27; python_version >= "3.7" and python_version < "4.0"
redis==4.3.4; python_version >= "3.6"
rfc3986==1.5.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
sniffio==1.2.0; python_version >= "3.7" and python_full_version >= "3.6.2"
starlette==0.19.1; python_version >= "3.6" and python_full_version >= "3.6.1"
tekore==4.4.0; python_version >= "3.7"
types-redis==4.3.4; python_version >= "3.7" and python_version < "4.0"
types-six==1.16.18; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.3.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.6.1"
uvicorn==0.18.2; python_version >= "3.7"
werkzeug==2.1.2; python_version >= "3.7"
wrapt==1.14.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
zipp==3.8.1; python_version < "3.10" and python_version >= "3.7"
